* {
    box-sizing: border-box;
}

p {
    color: #777777;
}

body {
    /*width: 960px;*/
    margin: 0 auto;
    height: 100%;
    position: relative;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background: url("../images/sayagata-400px.png") repeat;
}
.header {
    width: 100%;
    height: 80px;
    margin-top: 0;
    margin-bottom: 30px;
    background: #ffffff;
    border-bottom: 1px solid #cccccc;
}
#top_nav {
    width: 960px;
    position: relative;
    margin: 0 Auto 0 Auto;
}
#top {
    position: absolute;
    background: #4aaaa5;
    color: #ffffff;
    float: left;
    margin: 0;
    border-bottom: 1px solid #cccccc;
    height: 80px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
#nav {
    color: #777777;
    float: right;
    margin-right: 0;
}

#nav_left {
    border-right: 1px solid #cccccc;
    margin-right: 0;
    padding-right: 20px;
}

#nav_center {
    padding-left: 0;
    padding-right: 0;
}

#nav_right {
    border-left: 1px solid #cccccc;
    margin-left: 0;
    padding-left: 20px;
}

li {
    display: inline-grid;
    padding: 10px;
}
a:link {
    text-decoration: none;
    color: #777777;
}
a:visited {
    text-decoration: none;
    color: #777777;
}
a:hover {
    text-decoration: none;
    color: #777777;
}
a:active {
    text-decoration: none;
    color: #777777;
}
h1, h2, h3 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaa5;
}
.content {
    width: 960px;
    clear: both;
    min-height: calc(100vh - 110px);
    display: block;
    position: relative;
    margin: 0 Auto 0 Auto;
    /*padding-bottom: 50px;*/
}
#profile-picture {
    width: 300px;
    height: 300px;
    float: left;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#about-me {
    clear: both;
    width: 960px;
    background: #ffffff;
    padding: 30px;
    border: 1px solid #dddddd;
}

p#footer {
    color: #ffffff;
    font-size: 10px;
    position: relative;
    padding: 0;
    margin-top: 25px;
}
.footer {
    position: absolute;
    bottom: 0;
    color: #777777;
    text-align: center;
    background: #666666;
    height: 50px;
    width: 100%;
    border-top: 5px solid #4aaaa5;
}

input[type="text"] {
    width: 900px;
    border: 1px solid #cccccc;
    padding: 5px;
    color: #777777;
}

input[type="email"] {
    width: 900px;
    border: 1px solid #cccccc;
    padding: 5px;
    color: #777777;
}

textarea[name="message"] {
    width: 900px;
    border: 1px solid #cccccc;
    padding: 5px;
    color: #777777;
}

input[type="submit"] {
    border: #4aaaa5;
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 10px 25px;
    margin-top: 10px;
    margin-bottom: -20px;
}